# CwAI Files
.cwai
.github/prompts/

# Env files
.env*
!.env.example

.DS_Store
/.task

.vite
.jscpd/html

/node_modules
/dist
*.tsbuildinfo

/**/tmp.*


#Ignore insiders AI rules
.github/instructions/codacy.instructions.md
