# CwAI Files
.cwai/
.github/prompts/

# Codacy
.codacy/

# Env files
.env*
!.env.example

.DS_Store
/.task

.vite
.jscpd/html

/node_modules
!/node_modules/conventional-changelog*
!/node_modules/@conventional-changelog*
*.tsbuildinfo

/**/tmp.*


#Ignore insiders AI rules
.github/instructions/codacy.instructions.md
