# CwAI Files
.cwai/
.github/prompts/
#Ignore insiders AI rules
.github/instructions/codacy.instructions.md

# Codacy
.codacy/

# Env files
.env*
!.env.example

.DS_Store
/.task

.vite
.jscpd/html

/node_modules
*.tsbuildinfo

/**/tmp.*
